.menu {
    background-color: black;
    width: 100%;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    margin-top: 10px;
}

.nav-links h4 {
    font-size: 1.2rem;
}

.button-logout{
    background-color: black;
    color: white;
    font-size: large;
    padding-left: 14px;
}

#main-logo {
    font-weight: 500;
    font-family: 'Pushster', cursive;
    font-size: 2rem;
}


@media only screen and (min-width: 600px){

    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px){

    .nav-links li {
        margin: 20px 20px 0px 10px;
    }

    .nav-links a:hover {
        font-weight: 500;
        padding: 10px;
        color: rgb(219, 219, 35);
    }

    #main-logo a:hover {
        color: rgb(219, 219, 35);
    }

    .nav-link {
        margin: 0;
    }
    ul.nav-links {
        margin-bottom: 0;
    }
}


