.menu {
    
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.nav-links li {
    margin: 0px 50px;
}

.menu {
    /* position: fixed; */
    /* background-color: steelblue; */
}

@media only screen and (min-width: 600px){
    body {
        /* background-color: lightcoral; */
    }

    .nav-links {
        display: flex;
    }
}

@media only screen and (min-width: 1000px){
    body {
        /* background-color: lightblue; */
    }

    .nav-links a:hover {
        background-color: rgb(160, 160, 160);
        color: yellow;
        padding: 10px;
    }
}
