.menu {
    background-color: whitesmoke;
    width: 100%;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.nav-links li {
    margin-top: 10px;
}

.nav-links h4 {
    font-size: 1.2rem;
}

#main-logo {
    font-weight: 500;
    font-family: 'Pushster', cursive;
    font-size: 2rem;
}


@media only screen and (min-width: 600px){
    body {
        /* background-color: lightcoral; */
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px){
    body {
        /* background-color: lightblue; */
    }

    .nav-links li {
        margin: 20px 20px 0px 10px;
    }

    .nav-links a:hover {
        /* background-color: rgb(160, 160, 160); */
        /* color: yellow; */
        font-weight: 500;
        padding: 10px;
        color: black;
    }

    #main-logo a:hover {
        color: rgb(148, 148, 3);
    }

    .nav-link {
        margin: 0;
    }
    ul.nav-links {
        margin-bottom: 0;
    }
}


