.username {
    display: flex;
}

.username h4 {
    font-weight: bold;
    margin-left: 10px;
}

.profile-list {
    list-style: none;
    display: flex;
    padding: 15px;
    font-size: 1.9rem;
    border: 2px solid rgb(150, 167, 150);
    flex-direction: column;
}

.edit-button {
    margin-left: 20px;
    display: flex;
}

.edit-button:hover {
    background-color: red;
}

@media only screen and (min-width: 1000px){
    .profile-list {
        width: 300px;
        position: relative;
        margin-right: 25px;
    }

    .watchlist {
        display: flex;
    }

    .remove-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}