.username {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 0px;
}

.username-title{
    border-bottom: 1px solid black;
}

.username h4 {
    font-weight: bold;
}

.username-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendations{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 30px;
    overflow: auto;
    list-style: none;
    font-size: 20px;
    margin-top: -8px;
}
.recommendation-title{
    background-color: whitesmoke;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.r-list{
    border-bottom: 1px black solid;
    /* margin: 10px; */
    margin-top: 15px;
    width: 250px;
}
.profile-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 1.9rem;
}

.profile-background{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.edit-button {
    color: white;
    background-color: #4B515D;
    border-radius: 10px;
    width: 70px;
    margin-left: 10px;
}

.edit-button:hover {
    cursor: pointer;
    border-radius: 10px;
}

.input-username{
    border-radius: 10px;
    padding-left: 8px;
    border: whitesmoke 1px solid;
}
.watchlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.watchlist-section {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 600px;
    overflow: scroll;
}
.profile-title {
    color: white;
}

.profile-list {
    width: 300px;
    height: 500px;
    position: relative;
    margin-right: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding-top: 0px;
}
.watchlist-cont {
    margin:0;
    list-style: none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}
.profile-img-title{
    height: 300px;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.profile-list h3 {
    font-size: 1.3rem;
    margin: 0;
}
.username {
    padding: 20px;
}
.recommendations-section {
    padding: 20px 0px;
    background-color: whitesmoke;
    margin: 25px 0px;
    border-radius: 10px;
    overflow: auto;
    height: 400px;
}

.delete-watchlist {
    float: right;
    margin-right: 25px;
    padding-bottom: 0px;
}
.delete-watchlist:hover{
    cursor: pointer;
    border-radius: 10px;
}

@media only screen and (min-width: 1000px){
    .profile-list {
        width: 300px;
        height: 500px;
        position: relative;
        margin-right: 25px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        padding-top: 0px;
    }

    .watchlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        overflow: auto;
        background-color: whitesmoke;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: 10px;
    }

    .watchlist-title{
        background-color: whitesmoke;
        margin: 0px;
        margin-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .delete-watchlist {
        float: right;
        margin-right: 35px;
        padding-bottom: 0px;
    }
    .delete-watchlist:hover{
        cursor: pointer;
        border-radius: 10px;
    }

    .watchlist-cont{
        list-style: none;
        padding: 10px 0px;
        width: 300px;
        text-align: center;
    }

    .profile-background {
        flex-direction: row;
        justify-content: center;
    }
    .watchlist-section {
        margin-left: 50px;
        width: 800px;
        height: 800px;
    }
    .username {
        padding: 25px;
    }
    .recommendations-section {
        background-color: whitesmoke;
        margin-top: 20px;
        border-radius: 10px;
        padding: 20px;
        height: 550px;
        width: 450px;
    } 
    .profile-title {
        color: white;
        margin-left: 100px;
    }

    .r-list{
        border-bottom: 1px black solid;
        /* margin: 10px; */
        margin-top: 15px;
        width: 325px;
    }
}