.username {
    display: flex;
}

.username h4 {
    font-weight: bold;
    margin-left: 10px;
}

.profile-list {
    list-style: none;
    display: flex;
}

.profile-list 

.profile-list button {
    padding: 0;
    margin: 0;
}