.form-btn {
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    float: right;
}

.form-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.form {
    padding: 25px 10px;
}

.add-summary-section textarea {
    border-radius: 10px;
}

.form-btn-submit {
    background: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.form-btn-submit:hover {
    background: black;
    color: white;
    cursor: pointer;
}