.action-btns button {
    margin: 0px 10px;
}

.add-comment-section {
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
}

.comment-box p {
    padding: 5px 0px;
    margin: 0;
}

.reply-area {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.reply {
    margin-left: 20px;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info h6 {
    margin-right: 22px;
}

.title-and-recommendation {
    display: flex;
    align-items: center;
}

#title {
    font-weight: 500;
}

.recommendation-btns {

}

.recommendation-btns button {
    padding: 0;
}