
.search-bar {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.search-bar input {
    border-radius: 20px;
    width: 300px;
    padding-left: 10px;
}

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.titles {
    list-style: none;
    padding: 10px 0px;
    height: 580px;
    width: 300px;
    transition: transform .2s; /* Animation */
}

.titles a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.titles a:hover {
    cursor: pointer;
    color: red;
}

.titles h2 {
    font-size: 2.0rem;
    margin: 0;
}

.titles h6 {
    font-size: .75rem;
    margin: 0;
}

.title-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    width: 300px;
    border-bottom: 1px solid black;
}

.img-title{
    height: 350px;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.add-new-title-btn {
    border-radius: 50px;
    width: 50px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


   .titles:hover{
    cursor: pointer;
    transform: scale(1.013);
   }

   .filter-drop{
       width: 150px;
       border-radius: 10px;
   }

   .filter-label{
       padding-right: 5px;
       font-size: 18px;
       color: white;
   }

   .search-bar {
       display: flex;
       flex-direction: column;
       margin: 35px 0px;
   }

   .search-bar input {
       margin-bottom: 15px;
   }

   @media only screen and (min-width: 600px){
       .search-bar {
           margin: 75px 0px;
       }
   }

   @media only screen and (min-width: 1000px){
       .search-bar {
           flex-direction: row;
           margin: 10px 0px;
       }

       .flex-box {
            background-color: whitesmoke;
       }
   }
