.search-bar {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.titles {
    list-style: none;
    border: 1px solid black;
}

.titles a {
    text-decoration: none;
    color: black;
}

.titles a:hover {
    cursor: pointer;
}

.title-details {
    display: flex;
    justify-content: space-around;
}