.search-bar {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-bottom: 20px;
}

.search-bar input {
    border-radius: 20px;
}

.titles {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    
}

.titles a {
    text-decoration: none;
    color: black;
}

.titles a:hover {
    cursor: pointer;
    color: red;
}

.titles h2 {
    font-size: 2.0rem;
}

.titles h6 {
    font-size: .75rem;
}

.title-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-new-title-btn {
    border-radius: 20px;
    width: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}