

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    /* border: solid 1px black; */
}

.register-inputs{
    width: 20%;
}