.comment-box {
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 10px 5px 10px;
    list-style: none;
}

.add-comment-section textarea {
    border-radius: 10px;
}

.comment-author-info {
    display: flex;
    flex-direction: column;
}

.comment-author-info h6 {
    padding: 0px 12px 0px 0px;
}

.author {
    font-weight: bold;
    margin: 0;
}

.reply-and-dropdown {
    display: flex;
}

.no-comments {
    text-align: center;
    padding: 40px;
}

.reply-btn {
    background-color: white;
    border-radius: 30px;
    width: 90px;
    padding: 0;
    outline: none;
}

.reply {
    margin-left: 4rem;
    border-left: 1px solid black;
    padding-left: 20px;
    padding-top: 15px;
}

.date {
    font-size: .85rem;
    margin: 0;
    padding: 0;
}

.replying-to-username {
    font-size: .90rem;
}

.add-reply-btn{
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #4B515D;
}

.add-reply-btn:hover{
    background-color: black;
    color: white;
}

@media only screen and (min-width: 1000px){
    .comment-box {
        margin-right: 20px;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid black;
        padding: 0;
        padding-bottom: 5px;
        padding-top: 20px;
    }
}