@keyframes scroll {
    from {
        margin-top: 0%;
        width: 100%
    }
    to {
        margin-top: -40%;
        width: 100%
    }
}
.main-nav {
    border-bottom: 1px solid black;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: white;
}

.menu {
    animation-name: scroll;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.img {
    width: 100%;
}

.menu-text {
    padding-top: 9px;
    margin-left: 2.5px;
}

.close-btn {
    font-weight: 500;
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 1000px){
    .close-btn {
        display: none;
    }

    @keyframes scroll{
        
    }
}