.main-nav {
    border-bottom: 1px solid black;
    display: flex;
    position: fixed;
    width: 100%;
}

.hamburger-menu {
    display: flex;
    align-items: center;
}

.img {
    width: 100%;
}

.menu-text {
    padding-top: 9px;
    margin-left: 2.5px;
}